.navbar{
    background-color: white;
    height: 80px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 0;
    margin-left:0
  }
  .menu-bars{
    margin-left: 1rem;
    font-size: 2rem;
    background:none;
  }
  .nav-menu {
    background-color: white;
    width: 200px;
    height:100vh;
    display:flex;
    position:fixed;
    top:0;
    left:-100%;
    transition: 1000ms;
  }
  .nav-menu.active {
    left: 0;
    transition: 300ms;
  }
  .nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style:none;
    height: 60px;
  }
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding:0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover{
    background-color: gray;
  }
  .nav-menu-items {
    padding-left:0;
    width:100%;
  }
  .navbar-toggle {
    background-color: white;
    width:100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  span {
    margin-left:16px;
  }